<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-10">
          <h1>Register</h1>
        </div>
      </div>
      <!-- registerForm -->
      <form id="register-form" class="form-horizontal" (submit)="onValidate()" #registerForm="ngForm">
        <!-- firstName -->
        <div class="form-group required has-feedback" [class.has-success]="firstName.touched && firstName.valid" [class.has-error]="firstName.touched && firstName.invalid">
          <div class="col-md-10">
            <label for="first-name" class="control-label">FirstName:</label>
            <input type="text" class="form-control" id="first-name" name="firstName" placeholder="firstName" ngModel required minlength="2"
              maxlength="50" #firstName="ngModel">
            <span *ngIf="firstName.touched" class="glyphicon form-control-feedback" [class.glyphicon-ok]="firstName.valid" [class.glyphicon-remove]="firstName.invalid"
              aria-hidden="true"></span>
            <div *ngIf="firstName.touched && firstName.invalid">
              <span *ngIf="firstName.hasError('required')" class="help-block">FirstName required</span>
              <span *ngIf="firstName.hasError('minlength')" class="help-block">Votre prénom doit avoir plus de 2 caractères</span>
              <span *ngIf="firstName.hasError('maxlength')" class="help-block">Votre prénom doit avoir moins de 50 caractères</span>
            </div>
          </div>
        </div>

        <!-- LastName -->
        <div class="form-group required has-feedback" [class.has-success]="lastName.touched && lastName.valid" [class.has-error]="lastName.touched && lastName.invalid">
          <div class="col-md-10">
            <label for="last-name" class="control-label">LastName:</label>
            <input type="text" class="form-control" id="last-name" name="lastName" placeholder="LastName" ngModel required minlength="2"
              maxlength="20" #lastName="ngModel">
            <span *ngIf="lastName.touched" class="glyphicon form-control-feedback" [class.glyphicon-ok]="lastName.valid" [class.glyphicon-remove]="lastName.invalid"
              aria-hidden="true"></span>
            <div *ngIf="lastName.touched && lastName.invalid">
              <span *ngIf="lastName.hasError('required')" class="help-block">LastName required</span>
              <span *ngIf="lastName.hasError('minlength')" class="help-block">Your LastName must be 2-20 characters long</span>
              <span *ngIf="lastName.hasError('maxlength')" class="help-block">Your LastName must be 2-20 characters long</span>
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group required has-feedback" [class.has-success]="email.touched && email.valid" [class.has-error]="email.touched && email.invalid">
          <div class="col-md-10">
            <label for="email" class="control-label">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel required email #email="ngModel">
            <span *ngIf="email.touched" class="glyphicon form-control-feedback" [class.glyphicon-ok]="email.valid" [class.glyphicon-remove]="email.invalid"
              aria-hidden="true"></span>
            <div *ngIf="email.touched && email.invalid">
              <span *ngIf="email.hasError('required')" class="help-block">Email required</span>
              <span *ngIf="email.hasError('email')" class="help-block">Your email is invalid</span>
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group required has-feedback" [class.has-success]="password.touched && password.valid" [class.has-error]="password.touched && password.invalid">
          <div class="col-md-10">
            <label for="password" class="control-label">Password:</label>
            <!-- <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel required infoandtechValidatorPassword="confirmPassword" reverse="true" minlength="6"
              maxlength="20" #password="ngModel">-->
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel required minlength="6"
              maxlength="20" #password="ngModel">
            <span *ngIf="password.touched" class="glyphicon form-control-feedback" [class.glyphicon-ok]="password.valid" [class.glyphicon-remove]="password.invalid"
              aria-hidden="true"></span>
            <div *ngIf="password.touched && password.invalid">
              <span *ngIf="password.hasError('required')" class="help-block">Password required</span>
              <span *ngIf="password.hasError('minlength')" class="help-block">Your password must be 6-20 characters long</span>
              <span *ngIf="password.hasError('maxlength')" class="help-block">Your password must be 6-20 characters long</span>
            </div>
          </div>
        </div>

        <!-- confirmPassword 
        <div class="form-group required has-feedback" [class.has-success]="confirmPassword.touched && confirmPassword.valid" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
          <div class="col-md-10">
            <label for="confirm-password" class="control-label">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm-password" name="ConfirmPassword" placeholder="confirmPassword" ngModel
              required infoandtechValidatorPassword="password" minlength="6" maxlength="20" #confirmPassword="ngModel">
            <span *ngIf="confirmPassword.touched" class="glyphicon form-control-feedback" [class.glyphicon-ok]="confirmPassword.valid"
              [class.glyphicon-remove]="confirmPassword.invalid" aria-hidden="true"></span>
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
              <span *ngIf="confirmPassword.hasError('required')" class="help-block">confirmPassword required</span>
              <span *ngIf="confirmPassword.hasError('minlength')" class="help-block">Your password must be 6-20 characters long</span>
              <span *ngIf="confirmPassword.hasError('maxlength')" class="help-block">Your password must be 6-20 characters long</span>
            </div>
            <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !registerForm.submitted)" class="text-danger">
                Your password and confirmation password do not match.
              </small>
          </div>
        </div>-->

        <!-- langKey -->
        <div class="form-group required has-feedback" [class.has-success]="langKey.touched && langKey.valid" [class.has-error]="langKey.touched && langKey.invalid">
          <div class="col-md-10">
            <label for="lang-Key" class="control-label">LangKey:</label>
            <input type="text" class="form-control" id="lang-Key" name="langKey" placeholder="LangKey" ngModel required minlength="2"
              maxlength="5" #langKey="ngModel">
            <span *ngIf="langKey.touched" class="glyphicon form-control-feedback" [class.glyphicon-ok]="langKey.valid" [class.glyphicon-remove]="langKey.invalid"
              aria-hidden="true"></span>
            <div *ngIf="langKey.touched && langKey.invalid">
              <span *ngIf="langKey.hasError('required')" class="help-block">LangKey required</span>
              <span *ngIf="langKey.hasError('minlength')" class="help-block">Your langKey must be 2-5 characters long</span>
              <span *ngIf="langKey.hasError('maxlength')" class="help-block">Your langKey must be 2-5 characters long</span>
            </div>
          </div>
        </div>

        <!-- Login -->
        <div class="form-group required has-feedback" [class.has-success]="login.touched && login.valid" [class.has-error]="login.touched && login.invalid">
          <div class="col-md-10">
            <label for="Login" class="control-label">Login:</label>
            <input type="text" class="form-control" id="Login" name="login" placeholder="Login" ngModel required minlength="2"
              maxlength="20" #login="ngModel">
            <span *ngIf="login.touched" class="glyphicon form-control-feedback" [class.glyphicon-ok]="login.valid" [class.glyphicon-remove]="login.invalid"
              aria-hidden="true"></span>
            <div *ngIf="login.touched && login.invalid">
              <span *ngIf="login.hasError('required')" class="help-block">Login required</span>
              <span *ngIf="login.hasError('minlength')" class="help-block">Your LoginName must be 2-20 characters long</span>
              <span *ngIf="login.hasError('maxlength')" class="help-block">Your LoginName must be 2-20 characters long</span>
            </div>
          </div>
        </div>

        <!-- button -->
        <div class="col-md-10 text-right submit-group">
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">register</button>
        </div>

      </form>
    </div>
  </div>
</div>